<!doctype html>
<html>
    <head>
        <title>Popular song</title>
    </head>
    <body>
        <form method='POST' action="/action_page">
            <table>
                <p>Use this form to submit a search request:</p>
                <tr><td>Artist_name:</td><td><input name='artist name' type='TEXT' width='60'></td></tr>
                </table>
                <p>When you're ready, click this button:</p>
                <p><input value='Do it!' type='SUBMIT'></p>
                </form>
        </form>
    </body>
</html>